# This is meant for local development only. Do not use this in production.
name: cap-so-dev

services:
  postgres:
    container_name: postgres-primary-db
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: cap
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data

  # Local S3 Strorage
  minio:
    container_name: minio-storage
    image: "minio/minio:latest"
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: capS3root
      MINIO_ROOT_PASSWORD: capS3root
    volumes:
      - ~/minio/data:/data
    command: server /data --console-address ":9001"

  createbuckets:
    container_name: minio-bucket-creation
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      sleep 10;
      /usr/bin/mc alias set myminio http://minio:9000 capS3root capS3root;
      /usr/bin/mc mb myminio/capso;
      echo '{\"Version\": \"2012-10-17\",\"Statement\": [{\"Effect\": \"Allow\",\"Principal\": {\"AWS\": [\"*\"]},\"Action\": [\"s3:GetObject\"],\"Resource\": [\"arn:aws:s3:::capso/*\"]}]}' > /tmp/policy.json;
      /usr/bin/mc anonymous set-json /tmp/policy.json myminio/capso;
      exit 0;
      "
volumes:
  postgres-data:
  minio-data:
  minio-certs:
